@CHARSET "UTF-8";
body{
	margin:0;
	padding: 0;
}
/* ********************index******************** */
#header{
	position:absolute;
	top:0;
	left:0;
	height:130px;
	width:100%;
	background-color: rgb(0,153,255);
}
#i1{
    position:relative;
	top:30px;
	left:10px;
	height:80px;
	width:600px;
}
#search{
	position: absolute;
	top:50px;
	right:50px;
	width:300px;
	height:40px;
	border:1px solide;
	border-radius:5px;
	background-color: rgb(255,255,255);
}
#search input{
	position: relative;
	bottom:12px;
	left:5px;
	height:30px;
	width:240px;
	font-size: 18px;
	border:none;
	outline:none;
}
#search img{
	margin-top:5px;
	cursor: pointer;
}
.photo{
	width:380px;
}
.index-photo img{
	width:180px;
	height:100px;
	padding:5px;
	display:inline-block;
}
.index-photo ul li{
	list-style:none;
	border:1px solid  #f0f0f0;
	padding: 5px ;
	display:inline-block;
}
.right-photo img{
	width:150px;
	height:100px;
	padding:5px;
	display:inline-block;
}
.right-photo ul li{
	list-style:none;
	border:1px solid  #f0f0f0;
	padding: 5px ;
	display:inline-block;
}
h1{
	text-align: center;
}

#navigation >ul >li{
	list-style: none;
	display:inline-block;
	position:relative;
	top:120px;
	left:40px;
	margin:10px 70px;
	font-size: 25px;
	background-color:rgb(244,244,244);
	border:1px solid #00FFFF;
	border-radius:5px;
	width:100px;
    height:40px;
    text-align:center;
    line-height:40px;
    cursor: pointer;
}
#container{
	display:-moz-box;
	display:-webkit-box;
	display:box;
	position:relative;
	top:120px;
	left:5px;
}
 #left-sidebar{
	width:350px;
	padding:20px;
}
#centre-sidebar{
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	padding:20px;
}
#right-sidebar{
	width:400px;
	padding:20px;
} */
 .layout{
	/* display: block;
	width:420px; */
	/* position:relative;
	top:160px;
	left:5px; */
	/* float:left; */
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

#menu span{
    width:90px;
    height:30px;
    text-align:center;
    line-height:30px;
	display:inline-block;
	margin:10px 18px;
	font-size: 20px;
	background-color:rgb(244,244,244);
	border:1px solid #00FFFF;
	border-radius:5px;
	cursor: pointer;
}
.li li{
	margin-top:10px;
	margin-left:40px;
	color:rgb(42,0,225);
}
#footer{
	position:relative;
	top:120px;
	left:0px;
	height:100px;
	background-color: #bfbfbf;
	border-top:20px solid  #bfbfbf;
}
 .web-msg,  .web-msg a {
    color: rgb(255,255,255);
}
.web-msg,   .link,  .copyright {
    font-size: 18px;
    margin: 40px auto;
    text-align: center;
    color:rgb(255,255,255);
}
  .web-msg, .link,  .copyright {
    content: "";
    display: table;
    margin: 0 auto;
    width: 1200px;
}
.copyright span {
    display: block;
    white-space: nowrap;
}
/* **********************international********************* */
 #place{
	position: relative;
	top:120px;
	left:35px;
	width:120px;
	float:left;
}
 .destination  dt{
	border-bottom: 1px solid #f0f0f0;
	color:#09f;
	font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    padding-bottom: 7px;
}
.clearfix a{
	float:left;
	color: #888;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 65px;
}
.clearfix a:HOVER{
	color:#09f;
}
a:link {
	text-decoration: none;
	color: #F60;
}
.clearfix li{
	list-style: none;
	float:left;
	margin:10px 20px;
}

#information{
	position: relative;
	top:160px;
	left:150px;
}
#information img{
	height:266px;
	width:445px;
}
#information ul li{
	border:1px solid  #f0f0f0;
	padding: 5px;
}